{% extends 'main/main.html' %}
    {% block nav %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'homepage' %}">Домашня сторінка<span class="sr-only">(current)</span></a>
        </li>
        {% if user.username in doctors.Login %}

        {% else  %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cabinet' %}">Моя інформація</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'queue' %}">Черги</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'doctors_list' %}">Список лікарів</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reception' %}">Записатися до лікаря</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reform' %}">Медична реформа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Контакти</a>
        </li>
    {% endblock %}
    {% block content %}
        <div class="centralblock">
            {% for article in articles %}
                <table>
                    <tr>
                        <td width="20%">
                            <img src="{{ article.thumb.url }}" height="150px" width=""/>
                        </td>
                        <td>
                            <a class="incentralblockleft" href="{% url 'news' slug=article.slug %}"><h4>{{ article.title }}</h4></a>
                            <p class="incentralblockleft">{{ article.snippet }}</p>
                            <p class="incentralblockleft">{{ article.date }}</p>
                        </td>
                    </tr>
                </table>
                <hr>
            {% endfor %}
        </div>
    {% endblock %}
